<ion-header>
  <ion-toolbar>
    <ion-title>client Nutri page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card size-sm="5">
            <ion-card-title> Client List </ion-card-title>
            <ion-card-content>
              <ion-list>
                <ion-item
                  *ngFor="let it of getVectorCopy()"
                  button="true"
                  [routerLink]="['/','client-nutri','tabs','client-detail',it.id_client]"
                >
                  <ion-label>{{it.id_client}}</ion-label>
                  <ion-label>{{it.nombres}}</ion-label>
                  <ion-label>{{it.apellidos}}</ion-label>
                </ion-item>
              </ion-list>
              <ion-button
                color="primary"
                routerLink = "/client-nutri/tabs/new-client"
              >
                new Client
              </ion-button>
              <ion-button
              color = "secondary"
              (click) = "logout_function()"
              >logout</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
