<ion-header>
  <ion-toolbar>
    <ion-title>client Nutri page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card size-sm="5">
            <ion-card-title> Tus Clientes </ion-card-title>
            <ion-card-content>
              <ion-list>

                <ion-item size-sm =3 lines = none
                *ngFor="let it of getVectorCopy()"
                button="true"
                [routerLink]="['/','client-nutri','tabs','client-detail',it.id_client]"

                >
                  <ion-thumbnail *ngIf = "it.genero == 'm'" slot="start">
                    <img style="border-radius: 50%;" src = "../../assets/male.png">
                  </ion-thumbnail>

                  <ion-thumbnail *ngIf = "it.genero == 'f'" slot="start">
                    <img style="border-radius: 50%;" src = "../../assets/female.png">
                  </ion-thumbnail>

                  <ion-label>
                    <h3 style="margin-bottom: 2px;">{{it.nombres}} {{it.apellidos}}</h3>
                    <p>Estudiante</p>
                  </ion-label>
                </ion-item>
              </ion-list>
              <ion-button
              class="add-button ion-text-center"
              color="primary"
              routerLink = "/client-nutri/tabs/new-client"
            >
              <ion-icon slot="start" name = person-add-outline></ion-icon>
              Agregar Cliente
            </ion-button>
            </ion-card-content>
          </ion-card>


        <ion-button
        color = "secondary"
        (click) = "logout_function()"
        >logout</ion-button>
        <ion-button
        color = "secondary"
        routerLink = "/client-nutri/tabs/food-items"
        >Alimentos</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
