.min-max-width {
  max-width: 75%;
  margin: 0px;
  background-color:red;
}
.div1{

  float:left;
  width: 40%;
  margin: 0 auto;
}
.div2{
  float:left;
  margin: 0 auto;
  width: 40%;

}
.div3{

  float: right;
  width: 20%;
}
.row1{
  width: 100%;
}
